* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  z-index: -1;
}
.container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-40px) scale(6);
}
.foreground {
  transform: translateZ(-30px) scale(2) translateY(380px);
}
.foreground,
.background {
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
h1 {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  color: aliceblue;
  background-color: rgb(134, 162, 174);
  font-size: 10rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

section {
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 3rem 0;
}
.secHeading {
  font-size: 5rem;
  padding: 0 10rem;
}

.bg {
  position: relative;
  background-attachment: fixed;
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: visible;
  background-size: cover;
}
.bg1 {
  background-image: url(biking.jpg);
}
.bg2 {
  background-image: url(surfing.jpg);
}
.bg3 {
  background-image: url(paragliding.jpg);
}
.desc{
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.text {
  font-size: 1.1rem;
  padding: 0 10rem;
  margin: 5rem 0;
  z-index: -1;
}
